<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config [
<!ENTITY laquo "&#171;">
<!ENTITY raquo "&#187;">
]>
<config>
	<productName>Установка &lt;br&gt;&laquo;1С-Битрикс24: Интернет-магазин + CRM&raquo;</productName>
	<demoWizardName>bitrix:portal</demoWizardName>
	<welcomeText>&lt;h4&gt;Благодарим вас за выбор &laquo;1С-Битрикс24: Интернет-магазин + CRM&raquo;! &lt;/h4&gt; &laquo;Мастер установки&raquo; протестирует ваше программное обеспечение на совместимость и проведет установку &laquo;1С-Битрикс24: Интернет-магазин + CRM&raquo;.&lt;br&gt;&lt;br&gt;Сразу после установки вы сможете приступить к работе с порталом.&lt;br&gt;&lt;br&gt;Используя систему обновлений SiteUpdate, вы сможете обновлять &laquo;1С-Битрикс24: Интернет-магазин + CRM&raquo; и пользоваться самой актуальной версией.&lt;br&gt;&lt;br&gt;Получить более подробную информацию о &laquo;1С-Битрикс24: Интернет-магазин + CRM&raquo; можно на сайте: &lt;a href=&quot;https://www.bitrix24.ru/&quot; target=&quot;_blank&quot;&gt;https://www.bitrix24.ru/&lt;/a&gt;&lt;br&gt;&lt;br&gt;Если у вас возникнут вопросы по процессу установки, вы можете обратиться в службу &lt;a href=&quot;https://helpdesk.bitrix24.ru/&quot; target=&quot;_blank&quot;&gt;технической поддержки&lt;/a&gt;.</welcomeText>
	<skipInstallModules>ai,statistic,voximplant</skipInstallModules>
	<imageBoxSrc>/bitrix/images/install/ru/box_bitrix24_shop.png</imageBoxSrc>
	<LANGUAGE_ID>ru</LANGUAGE_ID>
	<INSTALL_CHARSET>utf-8</INSTALL_CHARSET>
</config>
